<a href="https://colab.research.google.com/github/Tanveer132/ML-Practices-End-to-End/blob/main/ML_and_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science :

    Field that uses scientific methods, processes, algorithms and systems to extract knowledge from structured and unstructured data.
    And apply this knowledge across broad range of application domains.

#Machine Learning :

    Branch of artificial intelligence based on the idea that systems can learn from data, 
    identify patterns and make decisions with minimal human interventions.
    Used in :
      software applications to make predictive outcomes.
      speech recognition
      product recomendations

#Deep Learning :

    Branch of AI and type of ML which follows the working of human brain in processing data,
    understanding patterns and making decisions.
    Used in : 
      Self driving cars
      Natural language processing
      Healthcare
      Froud detection
      Visual recognition

#Data
##Structured data :

    -It is quantitative data consists in form of numbers and texts.
    -Stored in tabular forms like excel, SQL databases, sheets.
    -It has predefined data models.
    -Stored in data warehouses.
    -Requires less storage and highly scalable.
    -Used in ML

##Un-structured data :

    -Qualitative data consists of videos, audio, sensors
    -Stored as audio/video files, NOSQL databases.
    -It does not have predefined data models.
    -Stored in data lakes.
    -Requires more storage space and difficult to scale.
    -Used in Natural language processing.

#Datatypes :

##Qualitative data :
Known as categorical data. Visualize using histplot, countplot

    1.Nominal data- 
      categorised in 
      male/female, Yes/No, True/False
    2.Ordinal data-
      categorised in
      low/mid/high, dates, strong/week

##Quantitative data :
Known as Numerical data. Visualize using histplot, scatterplot, Boxplot

    1.Continuous data-
      1.Interval continuous data- 
        Zero has value.
        e.g. temperature in celcious, GDP, Ratings
      2.Ratio continuous data-
        Zero has no value.
        e.g height,weight

    2.Discrete data-
      counting measurement.
      e.g. No. of students, no. of tyres.

#Supervised Learning :

    -Supervised learning algorithms are trained using labeled data.
    -Input data is given to training model along with outputs.
    -Goal is to train model and predict output for new data. It is less AI.
    -This learning is used when we know input along with corresponding output.
    -Categorised in regression and classification
    -algorithms such as->
       Linear Regression, 
       Logistic Regression, 
       Support Vector Machine, 
       Multi-class Classification, 
       Decision tree, 
       Bayesian Logic. 

#Unsupervised Learning :
    -Unsupervised learning algorithms are trained using unlabeled data.
    -Only input data is given to model.
    -Goal is to find the hidden patterns in data and gain knowledge like newborn baby. It is more likely AI.
    -This learning is used when we only have input data and no corresponding output data.
    -Classified in clustering and association problems.
    -algorithms such as->
      Clustering, 
      KNN,
      Apriori algorithm,
      Neural networks.

#Read data

In [9]:
# import the modules
import pandas as pd
import io

In [10]:
df=pd.read_csv('/content/Admission_Predict.csv')
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]