<a href="https://colab.research.google.com/github/Tanveer132/ML-Practices-End-to-End/blob/main/pandas_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas :**

    Provides high performance on working with series, dataframe.
    It has functions for analysing, data cleaning, data manipulating.

In [1]:
import pandas as pd
import numpy as np

**Series data structures in pandas**

In [10]:
demo_list=[1,2,3,'s',10.6]

# Series data structure in pandas
series1=pd.Series(demo_list)
print(series1)
print("\n original list :")
print(demo_list)

0       1
1       2
2       3
3       s
4    10.6
dtype: object

original list :
[1, 2, 3, 's', 10.6]

In [11]:
series2=pd.Series(demo_list,index=[1,2,3,4,5])
print(series2)

1       1
2       2
3       3
4       s
5    10.6
dtype: object

In [12]:
#empty series
series3=pd.Series([])
print(series3)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [13]:
#scaler series
series4=pd.Series(0.5,index=[3,5,2,4])
print(series4)

3    0.5
5    0.5
2    0.5
4    0.5
dtype: float64

**Date range in pandas**

In [14]:
#date range
dates=pd.date_range('2020-01-01','2020-12-31',freq='10D')
print(dates)

DatetimeIndex(['2020-01-01', '2020-01-11', '2020-01-21', '2020-01-31',
               '2020-02-10', '2020-02-20', '2020-03-01', '2020-03-11',
               '2020-03-21', '2020-03-31', '2020-04-10', '2020-04-20',
               '2020-04-30', '2020-05-10', '2020-05-20', '2020-05-30',
               '2020-06-09', '2020-06-19', '2020-06-29', '2020-07-09',
               '2020-07-19', '2020-07-29', '2020-08-08', '2020-08-18',
               '2020-08-28', '2020-09-07', '2020-09-17', '2020-09-27',
               '2020-10-07', '2020-10-17', '2020-10-27', '2020-11-06',
               '2020-11-16', '2020-11-26', '2020-12-06', '2020-12-16',
               '2020-12-26'],
              dtype='datetime64[ns]', freq='10D')

**Dataframe data structure in pandas**

In [20]:
#Data frame
dict1={
    "Roll no":np.arange(1,6),
    "Name":['A','B','C','D','E'],
    }
    
print(dict1)

{'Roll no': array([1, 2, 3, 4, 5]), 'Name': ['A', 'B', 'C', 'D', 'E']}

In [22]:
df1=pd.DataFrame(dict1,index=np.arange(1,6))
df1

   Roll no Name
1        1    A
2        2    B
3        3    C
4        4    D
5        5    E

In [27]:
df1['Name'][5]="F"
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Roll no Name
1        1    A
2        2    B
3        3    C
4        4    D
5        5    F

**Read data using pandas**

In [30]:
df=pd.read_csv('/content/diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [31]:
#slicing in dataframe
slice_df=df.iloc[:5,2:-2]
slice_df

   BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction
0             72             35        0  33.6                     0.627
1             66             29        0  26.6                     0.351
2             64              0        0  23.3                     0.672
3             66             23       94  28.1                     0.167
4             40             35      168  43.1                     2.288

In [32]:
#describe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [34]:
#describe statistical info
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [39]:
statistical_info={'mean':df.mean(),
                  'min' :df.min(),
                  'max' :df.max(),
                  'count':df.count()
                  }

In [40]:
describe=pd.DataFrame(statistical_info)
describe

                                mean     min     max  count
Pregnancies                 3.845052   0.000   17.00    768
Glucose                   120.894531   0.000  199.00    768
BloodPressure              69.105469   0.000  122.00    768
SkinThickness              20.536458   0.000   99.00    768
Insulin                    79.799479   0.000  846.00    768
BMI                        31.992578   0.000   67.10    768
DiabetesPedigreeFunction    0.471876   0.078    2.42    768
Age                        33.240885  21.000   81.00    768
Outcome                     0.348958   0.000    1.00    768